$base-color=#f3f8fa;
$obtained-base-color=#f7f5f8;
$outline-color=#89b8cf;
$obtained-outline-color=#b09fb7;
$thickness=4px;
$offset=2px;

$base-size=100px;
$pic-max-size=$base-size * 0.7 - $thickness;

.achievement
    position: relative;
    background-color: $base-color;
    width: $base-size;
    height: $base-size;
    border-radius: 50%;
    border: $thickness solid $outline-color;
    box-sizing: border-box;

    &::after
        content: '';
        position: absolute;
        bottom: -($offset);
        right: -($offset);
        display: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $base-color;
        box-sizing: border-box;

    &::before
        content: '';
        position: absolute;
        bottom: -($thickness + $offset);
        right: -($thickness + $offset);
        display: none;
        width: 35px + $thickness * 2;
        height: 35px + $thickness * 2;
        border-radius: 50%;
        background-color: $outline-color;
        box-sizing: border-box;
        z-index: -1;

    &_obtained
        background-color: $obtained-base-color;
        border-color: $obtained-outline-color;

        &::before
            background-color: $obtained-outline-color;

        &::before,
        &::after,
        .achievement__number
            display: block;
            color: $obtained-outline-color;

    &__number
        position: absolute;
        display: none;
        bottom: -($offset);
        right: -($offset);
        z-index: 2;
        font: 18px sans-serif;
        line-height: 35px;
        text-align: center;
        color: $outline-color;
        width: 35px;

    .achievement__pic
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: $pic-max-size;
        max-height: $pic-max-size;
        z-index: 1
